<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.eisi.me19027parcial02">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ME19027PARCIAL02">
        <activity
            android:name=".Listview.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".Conductor.EliminarConductorActivity"
            android:exported="false" />
        <activity
            android:name=".Menu.MenuVehiculoActivity"
            android:exported="false" />
        <activity
            android:name=".Menu.MenuConductorActivity"
            android:exported="false" />
        <activity
            android:name=".Vehiculo.EliminarVehiculoActivity"
            android:exported="false" />
        <activity
            android:name=".Vehiculo.ConsultarVehiculoActivity"
            android:exported="false" />
        <activity
            android:name=".Vehiculo.ActualizarVehiculoActivity"
            android:exported="false" />
        <activity
            android:name=".Vehiculo.InsertarVehiculoActivity"
            android:exported="false" />
        <activity
            android:name=".Conductor.ConsultarConductorActivity"
            android:exported="false" />
        <activity
            android:name=".Conductor.ActualizarConductorActivity"
            android:exported="false" />
        <activity
            android:name=".Conductor.EliminarConductorctivity"
            android:exported="false" />
        <activity
            android:name=".Conductor.InsertarConductorActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>